<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>SNACKBALL</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.js"></script>

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <script src="https://kit.fontawesome.com/4b7607ba59.js" crossorigin="anonymous"></script>
    <style>
        .container {
            min-height: 100vh;
            overflow: auto;
        }
        .notification-badge {
            font-size: 10px;  /* 배지 크기 조절 */
            width: 16px;
            height: 16px;
            line-height: 16px;
            padding: 0;
            text-align: center;
            top: -5px;
            right: -5px;
        }
    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-lg border-bottom py-3 px-3">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#" th:href="@{/}">SNACKBALL</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form class="d-flex me-3">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </li>
            </ul>
        </div>

        <div>
            <!-- 우측 메뉴 -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item me-2" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-dark" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-warning" th:href="@{/signup}">Sign up</a>
                </li>

                <li class="nav-item me-2" sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-primary" th:href="@{/study/create}">
                        스터디 만들기
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/notifications/new}">
                        <i class="fa-solid fa-bell position-relative">
                            <span th:if="${count > 0}" th:text="${count}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger notification-badge">1</span>
                        </i>
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
<!--                        <svg width="35" height="35" class="rounded-circle border bg-light"></svg>-->
                        <img th:src="${profileImage}"
                             width="35" height="35" class="rounded-circle border"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.principal.nickname}}">프로필</a>
                        <a class="dropdown-item">스터디</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
