<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/fragments.html :: head}"></head>

<body>
    <div th:replace="~{layout/fragments.html :: main-nav}"></div>

    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-3 me-5">
                <div th:replace="~{study/layout/study.html :: study}"></div>
            </div>

            <div class="col-7">
                <div class="row mb-4">
                    <div th:replace="~{study/layout/studyNav.html :: studyNav(currentMenu='members')}"></div>
                </div>

                <div class="font-weight-light mb-3" style="margin: 0; padding: 0;"><strong>*멤버 (<span th:text="${activeMemberCount + 1}"></span>)</strong></div>
                <div th:each="manager : ${managersAndMembers.getManagers()}" class="d-flex align-items-center mb-3">
                    <img th:src="${manager.user.profileImage}"
                         width="35" height="35" class="rounded-circle border me-3"/>
                    <a th:href="@{/profile/{nickname}(nickname=${manager.user.nickname})}" class="h5 mb-0 me-2 text-decoration-none text-dark link-primary">
                        <strong th:text="${manager.user.nickname}">관리자 이름</strong>
                    </a>
                    <span class="badge text-bg-primary">관리자</span>
                </div>

                <div th:each="member : ${managersAndMembers.getMembers()}" th:if="${member.active}" class="d-flex align-items-center mb-3">
                    <img th:src="${member.user.profileImage}"
                         width="35" height="35" class="rounded-circle border me-3"/>
                    <a th:href="@{/profile/{nickname}(nickname=${member.user.nickname})}" class="h5 mb-0 me-2 text-decoration-none text-dark link-primary">
                        <strong th:text="${member.user.nickname}">관리자 이름</strong>
                    </a>
            </div>
        </div>
        </div>
    </div>
</body>
</html>