<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="studyNav">
    <title>Study Navigation</title>
    <style>
        .nav-link.active {
            color: black !important; /* 활성화된 메뉴는 파란색 */
            font-weight: bold;
        }
    </style>
</head>
<body>

    <ul th:fragment="studyNav(currentMenu)" class="nav nav-underline">
        <li class="nav-item">
            <a th:classappend="${currentMenu == 'info'} ? 'active'" th:href="@{/study/{id}(id=${study.id})}" class="nav-link fs-5 text-dark" aria-current="true">스터디</a>
        </li>
        <li class="nav-item">
            <a th:classappend="${currentMenu == 'members'} ? 'active'" th:href="@{/study/{id}/members(id=${study.id})}" class="nav-link fs-5 text-dark" aria-current="true">멤버</a>
        </li>
        <li class="nav-item">
            <a th:classappend="${currentMenu == 'board'} ? 'active'" th:href="@{/study/{id}/board(id=${study.id})}" class="nav-link fs-5 text-dark" aria-current="true">게시판</a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${isManager}">
            <a th:classappend="${currentMenu == 'memberSettings'} ? 'active'" th:href="@{/study/{id}/settings/member(id=${study.id})}" class="nav-link fs-5 text-dark" aria-current="true">멤버관리</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${isManager}">
            <a th:classappend="${currentMenu == 'studySettings'} ? 'active'" th:href="@{/study/{id}/settings/study(id=${study.id})}" class="nav-link fs-5 text-dark" aria-current="true">스터디관리</a>
        </li>
    </ul>

</body>
</html>
