<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/fragments.html :: head}">
    <th:block th:replace="~{layout/fragments.html :: extraStyles}" />
</head>

<th:block th:fragment="extraStyles">
    <style>
        .center-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center; /* 텍스트 중앙 정렬 */
        }
    </style>
</th:block>
<body>
    <div th:replace="~{layout/fragments.html :: main-nav}"></div>

    <div class="container center-box">
        <i class="fa-solid fa-triangle-exclamation h2"></i>
        <h2>권한이 없거나</h2>
        <h2>존재하지 않는 페이지입니다.</h2>
        <br>

        <p>
            <a th:href="@{/}" class="btn btn-dark my-2">첫 페이지로 이동</a>
        </p>
    </div>

    <div th:replace="~{layout/fragments.html :: footer}"></div>
</body>
</html>