<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="sideNav">
    <title>Side Navigation</title>
</head>
<body>
<div th:fragment="sideNav(currentMenu)" class="list-group">
    <a th:classappend="${currentMenu == 'profile'} ? 'active'" th:href="@{/settings/profile}" class="list-group-item list-group-item-action active" aria-current="true">프로필</a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
</div>
</body>
</html>
